div.hide {
  display: none;
}

div.show {
  display: block;
}

#landing_page form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

#landing_page form > input {
  width: 100%;
  margin: 0.25rem;
}

@media screen and (min-width: 26rem) {
  #landing_page form {
    width: 25rem;
  }

  #landing_page form > input {
    width: 25rem;
  }
}









#page {
  margin: 0 auto;
  padding: 0;
  width: calc(100% - 2rem);
}

#topButtons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

#findReposButton {
  margin: 0 1rem 0 0;
  background-color: #55f;
  color: #fff;
  border: 2px solid #00d;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
}

#searchButton {
  background-color: #55f;
  color: #fff;
  border: 2px solid #00d;
  border-radius: 0.25rem;
  text-align: center;
  padding: 1rem;
  margin: 0.25rem 0 0 0;
}

#status {
  border: 1px solid black;
  padding: 0 1rem;
  width: calc(100% - (2rem + 2px));
  color: #c00;
  background-color: #ccc;
}

#container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.repository {
  order: 0;
  margin: 0.5rem 0;
  padding: 0 1rem;
  background-color: #55f;
  color: #fff;
  border: 2px solid #00d;
  border-radius: 0.25rem;
}

.repository.enabled {
  order: -1;
  color: black;
  background-color: #acf;
}

section img {
  width: 100%;
}

.external_repo_link {
  padding: 1rem;
  float: right;
}

@media screen and (max-width: 560px) {
  .repository {
    width: calc(100% - (2rem + 4px));
  }

  #topButtons {
    width: 100%;
  }

  #topButtons>div {
    width: 100%;
    margin-bottom: 1rem;
  }

  #page input {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #findReposButton, #searchButton {
    width: calc(100% - (2rem + 4px));
  }
}

@media screen and (min-width: 561px) and (max-width: 1000px) {
  .repository {
    width: calc(50% - (2.5rem + 4px));
  }

  .repository.enabled {
    width: calc(100% - (2.5rem + 4px));
  }

  #topButtons {
    width: 50%;
  }

  #topButtons>div {
    width: 100%;
    margin-bottom: 1rem;
  }

  #page input {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #findReposButton, #searchButton {
    width: calc(100% - (2rem + 4px));
  }
}


@media screen and (min-width: 1001px) {
  .repository {
    width: calc(33% - (2.5rem + 4px));
  }

  .repository.enabled {
    width: calc(100% - (2.5rem + 4px));
  }

  #topButtons {
    width: 33%;
  }

  #topButtons>div {
    width: 100%;
    margin-bottom: 1rem;
  }

  #page input {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #findReposButton, #searchButton {
    width: calc(100% - (2rem + 4px));
  }
}

@media screen and (max-width: 460px) {
  section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  section h4 {
    width: 100%;
  }

  section div {
    width: calc(100% - (2px + 2rem));
    border: 1px solid lightslategrey;
    margin: 0 0.5rem 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 461px) and (max-width: 700px) {
  section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  section h4 {
    width: 100%;
  }

  section div {
    width: calc(50% - (2px + 2rem));
    border: 1px solid lightslategrey;
    margin: 0 0.5rem 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 701px) and (max-width: 1000px) {
  section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  section h4 {
    width: 100%;
  }

  section div {
    width: calc(33% - (2px + 2rem));
    border: 1px solid lightslategrey;
    margin: 0 0.5rem 1rem;
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 1001px) {
  section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
  }

  section h4 {
    width: 100%;
  }

  section div {
    width: calc(25% - (2px + 2rem));
    border: 1px solid lightslategrey;
    margin: 0 0.5rem 1rem;
    padding: 0 0.5rem;
  }
}
